
/***animation effet fadeInDown***/

/*entré*/ 
@keyframes fadeInDown-entre {
    from {
       opacity: 0;
       transform: translate3d(0, -80%, 0);
    }
    to {
       opacity: 1;
       transform: translate3d(0,0,0);
    }
} 
 
.fadeInDown-entre {
    animation-name: fadeInDown-entre;
    animation-duration: 3s;
    -webkit-animation-name: fadeInDown-entre;
    -webkit-animation-duration: 3s;
    position: relative;
}
  
/*plat*/
@keyframes fadeInDown-plat {
    from {
       opacity: 0;
       transform: translate3d(0, -80%, 0);
    }
    to {
       opacity: 1;
       transform: translate3d(0,0,0);
    }
} 

.fadeInDown-plat {
    position: relative;
    animation-name: fadeInDown-plat;
    animation-duration: 3s;
    animation-delay: 0.5s;
    -webkit-animation-name: fadeInDown-plat;
    -webkit-animation-duration: 3s;
}

/*dessert*/
@keyframes fadeInDown-dessert {
    from {
       opacity: 0;
       transform: translate3d(0, -80%, 0);
    }
    to {
       opacity: 1;
       transform: translate3d(0,0,0);
    }
} 

.fadeInDown-dessert {
    position: relative;
    animation-name: fadeInDown-dessert;
    animation-duration: 3s;
    animation-delay: 1s;
    -webkit-animation-name: fadeInDown-dessert;
    -webkit-animation-duration: 3s; 
}

/***header-menu**/
.header-menu{
    margin: 0 auto;
}

.retour  {
    position: absolute;
    left: 15px;
    font-size: 22px;
}
/*******bannière*******/
.menu-restaurant-image{
    width: 100%;
    height: 275px;  
    object-fit: cover;
}

/******carte********/
.carte {
    position: relative;
    bottom: 24px;
    background-color: var(--second-color);
    background-image: initial;
    border-radius: 24px 24px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.Restaurant-title {
    display: flex;
    justify-content: center;
    font-family: 'Shrikhand', cursive;
    font-weight: 400;
    padding-right: 20px;

}

.coeur-menu {
    position: absolute;
    right: 25px;
    bottom: 25px;
    font-size: 23px;
}

.menus {
    max-width: 1440px;  
}

.menu {
    display: flex;
    border-radius: 20px;
    width: 100%;
    height:69px;
    background-color:var(--primary-color); 
    box-shadow:0px 4px 15px 0px rgba(0, 0, 0, 0.15); 
    overflow: hidden;
    white-space: nowrap; 
    position: relative;
}
 

.list-menu{
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
    margin-bottom: 40px;
}
.list-menu .menu-service {
    font-weight: 300;
    font-size: 16px;
   
 }

 .list-menu .menu-service::after{ /**pseudo élément :after pour insérer soulignement vert**/
    content:"";
    background: #99e2d0;
    position: absolute;
    top: 38px;
    left: 0px;
    height: 4px;
    width: 40px;
  
 }

.menu .menu-title {
    font-weight: 500;
    font-size: 18px;
    margin: 0px;
} 

:hover.menu .menu-title{
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menu-content {
    padding: 12px;
    width: 80%;  
} 

.menu .menu-text{ 
font-weight:300;
font-size:15px;
padding-top: 5px;
margin: 0px;
}

:hover.menu .menu-text{
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menu-prix{
    position:absolute;
    padding: 20px 15px 5px;
    right: 0px;  
}

.bouton-check {
    height: 69px;
    width: 59px;
    line-height: 2.2;
    font-size: xx-large;
    text-align: center;
    border-radius: 0px 20px 20px 0px;
    color: transparent;
    position: absolute;
    right: 0px;   
}

/*********animation selecteur menu*********/

 .menu:hover .menu-prix, .menu:hover .menu-prix{
    animation-duration: 1s;
    animation-name: slideright;
    animation-fill-mode: forwards;
    animation-direction: alternate;   
}

@keyframes slideright {
    from {
        right: 0px;
    }
    to {
        right: 59px;
    }
}
  
.menu:hover .bouton-check, .menu:active .bouton-check {
    color: #fff;
    background-color: #99e2d0;
    animation-name: slideright2;
    animation-duration: 1s;
    animation-direction: alternate;         
}

@keyframes slideright2 {
    from {
        right: -59px;
    }
    to {
        right: 0px;
    }
}

.btn-order{
    display: flex;
    justify-content: center;
    border-radius: 60px;
    box-sizing: border-box;
    border:none;
    background:linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    box-shadow:0px 4px 15px 0px rgba(0, 0, 0, 0.15);  
    width: 218px;
    padding: 3px 1px; 
    height: 50px;
    align-items: center;
} 

.commander{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}



/*******tablette************/
@media (min-width: 1024px) {
    .carte {
        margin:auto;
        max-width: 1055px;
        width: 60%;
        padding: 24px 100px 0px;
    }

   .coeur-menu {
       right: 70px;
    }

}

/****desktop*****/
 @media(min-width:1440px) {
    .coeur-menu {
        right: 190px;       
    }
    
} 
